/* critical */
:root{
	--green: #379965;
	--dark-green: #1e5d3b;
	--haki: #739655;
	--dark-haki: #455c32;
	--red: #bab0b1;
	--dark-red: #b66e7b;
	--grey: #f0f3f5;
	--dark-grey: #666a6a;
	--yellow: #f6e8c0;
	--dark-yellow: #f8e353;
	--light-text: #fffdfd;
	--dark-text: #787878;
	--light-red: rgb(255, 53, 53);
}
html,body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;
	color:#36454d;
	background-color: var(--dark-grey);
}
*{
	box-sizing:border-box;
}
button, .button{
	text-decoration: none;
	text-align: center;
	width: 140px;
	height: 40px;
	border: none;
	font-size: 16px;
	color: white;
	cursor: pointer;
	border-radius: 3px;
}
button.active{
	background-color: #ffd34f;
	color: #434242;
}
a{
	color: #4688CD;
	cursor: pointer;
    font-size: 14px;
}
main a:hover{
	text-decoration: underline;
	color: #1D5FA4;
}
#header{
    background-color: #32425a00;
    color: #fff;
    height: 51px;
	display: flex;
}
/* endcritical */
#startButtons {
	display: flex;
}
#startButtons button{
	width: 186px;
}
#jetztButton {
    background-color: var(--green);
}
#jetztButton:hover {
    background-color: var(--dark-green);
}
#spaterButton {
	background-color: var(--yellow);
	color: var(--dark-text);
	margin-left: auto;
}
#spaterButton:hover {
	background-color: var(--dark-yellow);
}
#nichtButton {
    background-color: var(--red);
	margin-left: 19px;
}
#nichtButton:hover {
    background-color: var(--dark-red);
}
.required {
	color: var(--light-red);
}
.input {
	position: relative;
	display: flex;
	align-items: center;
}
.input input {
	margin-right: 11px;
}
input {
	padding: 10px 9px;
	font-size: 14px;
	width: 100%;
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.blink {
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}