/* critical */
html,body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;
	color:#36454d;
	background-color: #f0f3f5;
}
*{
	box-sizing:border-box;
}
button, .button{
	text-decoration: none;
	text-align: center;
	width: 140px;
	height: 40px;
	border: none;
	font-size: 16px;
	color: white;
	cursor: pointer;
	border-radius: 3px;
	background-color: #739655;
}
button.active{
	background-color: #ffd34f;
	color: #434242;
}
a{
	color: #4688CD;
	cursor: pointer;
    font-size: 14px;
}
main a:hover{
	text-decoration: underline;
	color: #1D5FA4;
}
#header{
    background-color: #5e6063;
    color: #fff;
    height: 51px;
	display: flex;
}
/* endcritical */
.green{
    background-color: #379965;
}
.green:hover{
    background-color: #2b724c;
}
.yellow{
    background-color: #ffd34f;
	color: #3c3c3c;
}
.yellow:hover{
    background-color: #948312;
	color: #dcd9d9;
}
.red{
    background-color: #da5069;
}
.red:hover{
    background-color: #943647;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}