<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link rel="stylesheet" href="/cache/users/static/css/desktop/{{css_version}}/main_min_critical.css">
</head>
<body>
    {%block body%}
        <div id="header">
            <div id="tab-buttons">
                <button data-tab="erste" class="tabButton active">erste</button>
                <button data-tab="zweite" class="tabButton">zweite</button>
                <button data-tab="dritte" class="tabButton">dritte</button>
                <button data-tab="vierte" class="tabButton">vierte</button>
                <button data-tab="funfte" class="tabButton">fünfte</button>
                <button data-tab="sechste" class="tabButton">sechste</button>
            </div>
            <div id="fragezeichen">
                {%if umfrage%}?{%endif%}
            </div>
        </div>
        <div class="umfrage tab active" data-tab="erste">
            <h1>Umfrage {{umfrage.name}}</h1>

            <div class="text">
                <p>Hallo <b>{{user.full_name}}</b> von <b>{{user.firma}}</b></p>
                <p>es ist wieder so weit, eine neue Monats-Benchmark wird zusammengetragen.</p>
                <br><br>
                <p>Du bist herzlich eingeladen daran mitzuwirken.</p>
                <br>
                Dein Lohn, die Ergebnisse an denen du mitgewirkt hast.
                <br>
                <p>Die Umfrage ist freiwillig.</p>
                <br>
                <p>Die Ergebnisse dürfen nicht veröffentlicht werden und sind nur firmenintern zu nutzen.</p>
                <br>
                <p>Die Ergebnisse werden anonymisiert dargestellt.</p>
                <br><br><br>
                <p>Eine Teilnahme ist bis zum {{umfrage.end_date}} möglich.</p>
            </div>
            <div class="buttons">
                <button class="green">Jetzt teilnehmen</button>
                <button class="yellow">Vielleicht später</button>
                <button class="red">Dieses Mal nicht</button>
            </div>
        </div>
        <div class="umfrage tab" data-tab="zweite">
            <h1>Umfrage {{umfrage.name}}​</h1>
            <div class="text">
                <h2>Durchschnittlicher Warenkorb</h2>
                <p>
                    Wir möchten den durchschnittlichen Warenkorb über alle KostenWalter User erfassen. Du kannst per Checkbox, anklicken welche der Werte du anonym teilen möchtest. Für alle geteilten Werte erhältst du das Ergebnis der Umfrage.
                </p>
                <div class="question">
                    <div class="tab-head tab-row">
                        <div>Durchschnittlicher Warenkorb über alle Bestellungen</div>
                        <div>Im Zeitraum Monat Monat JJJJ</div>
                        <div>beantworten</div>
                        <div></div>
                    </div>
                    <div class="tab-row">
                        <div class="tab-col">
                            <div>Plattform A</div>
                            <div>Plattform B</div>
                            <div>Plattform C</div>
                        </div>
                        <div class="tab-col">
                            <div>XX,XX Euro</div>
                            <div>XX,XX Euro</div>
                            <div>XX,XX Euro</div>
                        </div>
                        <div class="tab-col">
                            <div><input type="checkbox" name="warenkorb"></div>
                            <div><input type="checkbox" name="warenkorb"></div>
                            <div><input type="checkbox" name="warenkorb"></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="tab-row">
                        <div></div>
                        <div></div>
                        <div class="tab-col">
                            <div class="all">
                                <input type="checkbox" name="warenkorb" value="all"> Alle beantworten
                            </div>
                        </div>
                        <div class="tab-col">
                            <div class="nicht-teilnehmen">
                                <input type="checkbox" name="warenkorb" id="warenkorb-nicht" value="nicht"> <label for="warenkorb-nicht">Nicht teilnehmen</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2>Umsatz</h2>
                <p>Wo stehst du mit deinem Umsatz, im Vergleich zu anderen Onlinehändlern?</p>
                <div class="question">
                    <div class="tab-row tab-head">
                        <div>Umsatz</div>
                        <div>Im Zeitraum Monat JJJJ</div>
                        <div>Wer Anzahlt</div>
                        <div>beantworten</div>
                    </div>
                    <div class="tab-row">
                        <div class="tab-col">
                            <div>Platform A</div>
                            <div>Platform B</div>
                            <div>Platform C</div>
                            <div></div>
                        </div>
                        <div class="tab-col">
                            <div>XX,XX Euro</div>
                            <div>XX,XX Euro</div>
                            <div>XX,XX Euro</div>
                            <div></div>
                        </div>
                        <div class="tab-col">
                            <div>X</div>
                            <div>X</div>
                            <div>X</div>
                            <div></div>
                        </div>
                        <div class="tab-col">
                            <div><input type="checkbox" name="anzahlt"></div>
                            <div><input type="checkbox" name="anzahlt"></div>
                            <div><input type="checkbox" name="anzahlt"></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="tab-row">
                        <div>Nur Inland</div>
                        <div></div>
                        <div></div>
                        <div><input type="checkbox" name="anzahlt" value="nur"></div>
                    </div>
                    <div class="tab-row">
                        <div>Alle Länder</div>
                        <div></div>
                        <div></div>
                        <div><input type="checkbox" name="anzahlt" value="all"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="umfrage tab" data-tab="dritte">
            <h2>Rechnungskorrekturen</h2>
            <p>Wo es Umsatz gibt, gibt es manchmal auch Rechnungskorrekturen. Ein guter Wert auch einmal festzustellen, wie die Quoten sind.</p>
            <div class="question">
                <div class="tab-head tab-row">
                    <div>Rechnungskorrekturen</div>
                    <div>Im Zeitraum Monat JJJJ</div>
                    <div>Anzahl</div>
                    <div>beantworten</div>
                </div>
                <div class="tab-row">
                    <div class="tab-col">
                        <div>Platform A</div>
                        <div>Platform B</div>
                        <div>Platform C</div>
                    </div>
                    <div class="tab-col">
                        <div>XX,XX Euro</div>
                        <div>XX,XX Euro</div>
                        <div>XX,XX Euro</div>
                    </div>
                    <div class="tab-col">
                        <div>X</div>
                        <div>X</div>
                        <div>X</div>
                    </div>
                    <div class="tab-col">
                        <div><input type="checkbox" name="rchkorr"></div>
                        <div><input type="checkbox" name="rchkorr"></div>
                        <div><input type="checkbox" name="rchkorr"></div>
                    </div>
                </div>
                <div class="tab-row">
                    <div>Nur Inland</div>
                    <div></div>
                    <div></div>
                    <div><input type="checkbox" name="anzahlt" value="nur"></div>
                </div>
                <div class="tab-row">
                    <div>Alle Länder</div>
                    <div></div>
                    <div></div>
                    <div><input type="checkbox" name="anzahlt" value="all"></div>
                </div>
                <div class="tab-row">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div><input type="checkbox">Alle beantworten</div>
                    <div><input type="checkbox" id="rchkorr-nicht"><label for="rchkorr-nicht">Nicht teilnehmen</label></div>
                </div>
            </div>
            <h2>Durchschnittlicher Wareneinsatz</h2>
            <p>Was ist hilft der höchste Umsatz wenn der Wareneinsatz nicht stimmt. Vergleich dich mit anderen Onlinehändlern.</p>
            <p>Bevor wir jedoch deinen Wareneinsatz mit anderen vergleichen können, müssten wir wissen welche Art des Handels du betreibst.</p>

            <div class="question">
                <div class="tab-row">
                    <div class="tab-col">
                        <div>Eigenmarke(n)</div>
                        <div>Handelsware(n)</div>
                    </div>
                    <div class="tab-col">
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                    </div>
                </div>
            </div>
            <div class="result-bar">
                <div class="part part-a" style="width: 33%">Eigenmarke(n)</div>
                <div class="part part-b" style="width: 67%">Handelsware(n)</div>
            </div>
        </div>
        <div class="umfrage tab" data-tab="vierte">
            <h2>Meine Kunden sind…</h2>
            <div class="question">
                <div class="tab-row">
                    <div>Endkunden</div>
                    <div><input type="checkbox"></div>
                </div>
                <div class="tab-row">
                    <div>Geschäftskunden</div>
                    <div><input type="checkbox"></div>
                </div>
                <div class="tab-row">
                    <div>Wiederverkäufer</div>
                    <div><input type="checkbox"></div>
                </div>
            </div>
            <div class="result-bar">
                <div class="part part-a" style="width: 25%">Endkunden</div>
                <div class="part part-b" style="width: 40%">Geschäftskunden</div>
                <div class="part part-c" style="width: 35%">Wiederverkäufer</div>
            </div>
            <div class="question">
                <div class="tab-head tab-row">
                    <div>Durchschnittlicher Wareneinsatz über alle Bestellunge</div>
                    <div>Im Zeitraum Monat JJJJ</div>
                    <div></div>
                    <div></div>
                </div>
                <div class="tab-row">
                    <div class="tab-col">
                        <div>Plattform A</div>
                        <div>Plattform B</div>
                        <div>Plattform C</div>
                    </div>
                    <div class="tab-col">
                        <div>XX,XX%</div>
                        <div>XX,XX%</div>
                        <div>XX,XX%</div>
                    </div>
                    <div class="tab-col">
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                    </div>
                    <div></div>
                </div>
                <div class="tab-row">
                    <div></div>
                    <div></div>
                    <div><input type="checkbox">Alle beantworten</div>
                    <div><input type="checkbox"><label for="">Nicht teilnehmen</label></div>
                </div>
            </div>
            <h2>Wie zufrieden bist du aktuell mit deiner unternehmerischen Lage?</h2>
            <p>Wirtschaftliche Kennzahlen sind der eine Teil, die Stimmung / Gefühle ein ganz anderer. Und ob das Glas halb voll oder halb leer ist. Niemand kann es dauerhaft in der Luft halten, wichtig ist daher es auch ab und zu abzustellen. Reflektieren.</p>
            <p>Wo siehst du dich mit eurem Betrieb?</p>
            <div class="satisfaction-widget">
                <div class="emoji" data-value="1" title="Дуже погано">😡</div>
                <div class="emoji" data-value="2" title="Погано">😞</div>
                <div class="emoji" data-value="3" title="Нейтрально">😐</div>
                <div class="emoji" data-value="4" title="Добре">😊</div>
                <div class="emoji" data-value="5" title="Дуже добре">😁</div>
            </div>
            <div><input type="checkbox">Nich teilnehmen</div>
        </div>
        <div class="umfrage tab" data-tab="funfte">
            <h2>Mitarbeiter Situation</h2>
            <p>Das wichtigste einer jeder Firma. Das Personal, vom Eigentümer bis zum Angestellten, alle tragen zum Erfolg bei.</p>
            <p>Wie ist bei euch gerade der Stand im Bezug auf Mitarbeiter?</p>
            <div class="question">
                <div class="tab-row">
                    <div class="tab-col">
                        <div>Wir suchen neue Mitarbeiter</div>
                        <div>Wir entlassen Mitarbeiter</div>
                        <div>Mitarbeiter haben gekündigt</div>
                        <div>Wir strukturieren Personell um</div>
                        <div>Aktuell keine Veränderung geplant</div>
                    </div>
                    <div class="tab-col">
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                    </div>
                </div>
                <div class="tab-row">
                    <div></div>
                    <div><i>Mehrfachauswahl möglich</i></div>
                    <div></div>
                    <div><input type="checkbox"><label for="">Nicht teilnehmen</label></div>
                </div>
            </div>
            <h2>Mitarbeiter Anzahl</h2>
            <p>In Zeiten der KI, Automation, Robotik und Software ist die Anzahl der Mitarbeiter kein Garant mehr für Größe.</p>

            <p>Was Interessant ist im Bezug auf die Zahlen, mit welcher Menschenkraft werden diese erwirtschaftet.</p>
            <div class="question">
                <div class="tab-row">
                    <div><input type="text"></div>
                    <div>Monatliche Vollzeitmitarbeiter - auf Basis einer 40 Stundenwoche, INKL. Inhaber/Geschäftsführer</div>
                </div>
            </div>
            <p>Beispiel: <span class="hinwise">Habt ihr eine Reinigungskraft auf 10 Stunden im Monat angestellt. So teilt man die Stunden durch 4,33 M.-Wochen. Das Ergebnis davon (2,30947) teilt man wiederum durch die 40 Stunde. Und man erhält den prozentualen Anteil einer Vollzeitkraft (0,0577). Alle Vollzeit-Anteile addieren und in das Feld eintragen. Eine reine Vollzeitkraft ist 1. Halbtagskraft (50% Stelle) ist 0,5. usw.</span></p>
            <div>
                <input type="checkbox" name="mtr-anzahl-nicht" id="mtr-anzahl-nicht"><label for="mtr-anzahl-nicht">Nicht teilnehmen</label>
            </div>
        </div>
        <div class="umfrage tab" data-tab="sechste">
            <h2>Lohn Benchmark</h2>
            <p>Unzählige Lohnvergleichsplattformen gibt es im Netz, doch oft sieht es in der Realität dann nochmal anders aus.</p>

            <p>Daher möchten wir euch eine Seller Math Benchmark zu Verfügung stellen.</p>
            <h2>Wieviel Bruttomonatslohn gibt oder müsstet ihr für folgende Positionen aufbringen?</h2>
            <div class="question">
                <div>Bruttomonatslohn Vollzeitmitarbeiter</div>
                <div class="tab-row">
                    <div><input type="text">€</div>
                    <div>Versand/Lager</div>
                </div>
                <div class="tab-row">
                    <div><input type="text">€</div>
                    <div>Brutto</div>
                </div>
                <div>
                    <input type="checkbox" name="mtr-anzahl-nicht" id="mtr-anzahl-nicht"><label for="mtr-anzahl-nicht">Nicht teilnehmen</label>
                </div>
            </div>
            <h2>Gedanken Wolke</h2>
            <p>Wie immer als letztes, was treibt dich aktuell am meisten um. Wir sammeln unter alle Eintragungen und geben diese als Wolke wieder. Auch hier gilt wie bei allen anderen Fragen, das Ergebnis ist anonym.</p>
            <div class="question">
                <div class="tab-row">
                    <div><input type="text"></div>
                    <div>Maximal 3 Wörter.
                        <span class="hinweis">Beispiel DSGVO, Krieg, Politik, GPSR, Kaufverhalten der Kunden, usw.</span>
                    </div>
                </div>
                <div>
                    <input type="checkbox" name="mtr-anzahl-nicht" id="mtr-anzahl-nicht"><label for="mtr-anzahl-nicht">Nicht teilnehmen</label>
                </div>
            </div>
            <button class="green">Absenden</button>
            <button class="red">Verwerfen</button>
        </div>
    {%endblock%}
<link rel="stylesheet" href="/cache/users/static/css/desktop/{{css_version}}/main_min.css">
<script type="module" src="/cache/users/static/js/desktop/{{js_version}}/main_min.js"></script><script type="module">import { Dom, Main } from "/cache/users/static/js/desktop/{{js_version}}/main_min.js"; window.Dom = Dom;window.Main = new Main();</script>
</body>
</html>